body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  overflow-x: hidden;
}

a {
  display: inline-flex;
  text-decoration: none;
  color: #000000;
  position: relative;
  border-bottom: 1px solid currentColor;
}

.grid {
  max-width: 800px;
  margin: auto;
  padding: 20px 0;
}

/* HEADER */
header {
  padding: 32px;
  margin-bottom: 200px;
}

nav {
  font-size: 18px;
  font-weight: 300;
  text-align: right;
  margin-bottom: 40px;
}

h1,
h2 {
  font-weight: 400;
  max-width: 1024px;
  margin: auto;
}
h1 {
  font-size: 72px;
}
h2 {
  margin-top: 20px;
  font-size: 48px;
}

/* EXAMPLES */
main {
  background: #d0b4b4;
}

.inner {
  max-width: 1024px;
  margin: auto;
  padding: 0 20px;
}

.block {
  margin: 45vh 0;
}
.block:first-child {
  padding-top: 45vh;
  margin-top: 0;
}
.block:last-child {
  padding-bottom: 45vh;
  margin-bottom: 0;
}

.right {
  text-align: right;
}
.center {
  text-align: center;
}

.mt {
  margin-top: 200px;
}

.scroll-block {
  padding: 45vh 0;
}

img,
svg {
  max-width: 100%;
}

.intro-arrow {
  margin-top: -40px;
  text-align: center;
}
.intro-arrow svg {
  margin-top: -40px;
  width: 200px;
  height: 200px;
}

pre,
code {
  font-family: monospace, monospace;
}
pre {
  overflow: auto;
  margin: 20px 0 0;
}
pre > code {
  display: block;
  word-wrap: normal;
}

code {
  font-size: 16px;
}

/* FOOTER */
footer {
  font-weight: 300;
  font-size: 28px;
  line-height: 1.6;
  padding: 40vh 0 80px 0;
}
